.App {
  text-align: center;
}

.movielist {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: space-evenly;
  row-gap: 2fr;
  justify-items: center;
  align-items: center;
 
 }